html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #16a085;
    font-family: 'Roboto', sans-serif;
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper {
    width: 600px;
    padding: 38px 70px 316px;
    margin: 100px auto 0;
    border-radius: 4px;
    background-color: #fff;
    background-image: url("img/Bicycle.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 235px;
    box-shadow: 0 5px 12px 1px rgb(0,0,0,.4);
}

.over-info {
    margin-bottom: 15px;
}

.order-title {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 22px;
    line-height: 46px;
}

.order-text {
    margin-top: 0;
    font-style: 14px;
    color: #aaa;
}

.profile-link {
    display: inline-block;
    float: right;
    width: 46px;
    height: 46px;
    padding: 8px;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.profile-link:hover {
    box-shadow: 0 0 7px 0 rgb(0,0,0,.3);
}

.profile-icon {
    vertical-align: middle;
    width: 28px;
    height: 28px;
    padding: 2px;
}

.order-details {
    width: 100%;
}

.order-item-name {
    padding: 9px 0 18px;
    color: #5c5c5c;
    font-weight: 500;
}

tfoot .order-item-name {
    font-style: 19px;
    font-weight: bold;
    text-transform: uppercase;
}

.order-price {
    padding-top: 8px;
    vertical-align: top;
    color: #000;
    text-align: right;
    font-style: 19px;
    font-weight: bold;
}